<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Información de contacto</h5>
          <p>Teléfono: +123456789</p>
          <p>Email: info@example.com</p>
        </div>
        <div class="col-md-6">
          <h5>Síguenos en redes sociales</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/yourpage" target="_blank">Facebook</a></li>
            <li class="list-inline-item"><a href="https://www.twitter.com/yourpage" target="_blank">Twitter</a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/yourpage" target="_blank">Instagram</a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/yourpage" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
