<div class="container">
    <div class="row">
        <div id="caja-acerca" class="col-md-6">
            <h3>Acerca de mi</h3>
            <p>¡Hola! Soy un desarrollador Full Stack con más de 1 año de experiencia
                en el desarrollo de paginas web. Me apasiona la tecnología y siempre estoy
                buscando formas de mejorar mis habilidades y conocimientos.</p>
        </div>

    </div>
</div>

<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">Datos Personales</h5>

        <p class="card-text">Nombre: Javier Lezcano</p>
        <p class="card-text">Edad: 30 años</p>
        <p class="card-text">Correo electrónico: Javi@example.com</p>
        <p class="card-text">Teléfono: 1234567890</p>
        <p class="card-text">Ubicacion: Buenos Aires, Argentina</p>
    </div>
</div>

<hr>
<div class="container">
    <div class="row">
        <div id="caja-expe" class="col-md-6">
            <h3>Experiencia </h3>
            <p> Mi experiencia me ha permitido adquirir habilidades en diferentes
                tecnologías y lenguajes de programación,
                como ReactJS, Angular, Node.js, Javascript y Java.</p>
        </div>

    </div>
</div>

