<section class="skills-section">
    <div class="container">
      <h2 class="section-title">Habilidades en Lenguajes de Programación</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="skill">
            <img src="../../../assets/logos/1366_2000.png" alt="Java Logo" class="skill-logo">
            <h4>Java</h4>
            <div class="progress">
              <div class="progress-bar" style="width: 80%;">80%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="skill">
            <img src="../../../assets/logos/images.png" alt="JavaScript Logo" class="skill-logo">
            <h4>JavaScript</h4>
            <div class="progress">
              <div class="progress-bar" style="width: 90%;">90%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="position: relative; top: 0.5rem;">
          <div class="skill">
            <img src="../../../assets/logos/584830f5cef1014c0b5e4aa1.png" alt="React Logo" class="skill-logo">
            <h4>React</h4>
            <div class="progress">
              <div class="progress-bar" style="width: 75%;">75%</div>
            </div>
          </div>
        </div>
        <hr style="position: relative; top: 5rem; padding: 50px;">
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="skill">
            <img src="../../../assets/logos/74-744138_mysql-logo-png-mysql-transparent-png-removebg-preview.png" alt="MySQL Logo" class="skill-logo">
            <h4>MySQL</h4>
            <div class="progress">
              <div class="progress-bar" style="width: 70%;">70%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="skill">
            <img src="../../../assets/logos/AngularJS-Shield.svg" alt="Angular Logo" class="skill-logo">
            <h4>Angular</h4>
            <div class="progress">
              <div class="progress-bar" style="width: 85%;">85%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="position: relative; bottom: 0.4rem;">
          <div class="skill">
            <img src="../../../assets/logos/nodejs-logo-FBE122E377-seeklogo.com.png" alt="Node.js Logo" class="skill-logo">
            <h4>Node.js</h4>
            <div class="progress">
              <div class="progress-bar" style="width: 80%;">80%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  